
body {
    background-image: url('modern-white-background-free-vector.jpg');
}

input, textarea {
    font-family: Arial, sans-serif;
}

h2 {
    color: #ff6600;
}

h4 {
    color: #009933;
}

